# Análise Exploratória de Dados

Análise inicial dos dados presentes na base de dados de tuberculose.

In [1]:
# Módulos para análise dos dados
import numpy  as np
import pandas as pd

# Visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
# Importação dos dados da base de triagem de pacientes com tuberculose
data = pd.read_excel('../dados/Banco de Dados.xlsx')

# Verificação inicial dos dados

In [24]:
# Visualização dos dados
data.head(5)

,ID,TB_desfecho_final_Dri,Tbafranio,Obs_desfechoTB_Dri_Dani,Data_inclusão,Nome,Desfecho_tuberculose_lista_Mauro,Desfecho_TB_162_Revisão_ADRIANA,Observaça0_desfecho_TB,Resultado_BAAR_1,...,Perdeu_aula_hoje_CA,Deixou_de_ganhar_dinheiro_hoje_CA,Quanto_deixou_ganhar_CA,Caso_acompanhado_quem_custeou_tudo_CA,Valor_CA,Avaliador_custo_CA,Data_avaliação_custo_CA,filter_$,ANOinclusao,Novocriteriotbafranio
0,1,1,1,NaN,2008-04-03,NaN,9,1.0,TB PROBABILIDADE,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2008,1
1,2,1,1,NaN,2006-10-03,NaN,1,1.0,NaN,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2006,1
2,3,1,1,NaN,2007-06-21,NaN,1,1.0,TB CONFIRMADA,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2007,1
3,4,1,1,NaN,2009-09-30,NaN,1,1.0,NaN,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2009,1
4,5,1,1,NaN,2009-06-19,NaN,1,NaN,NaN,0,...,0,0,888,8,888.0,Marcia dos Santos,2009-06-19,0.0,2009,1

### Dúvidas sobre os valores da base de dados

Algumas variáveis presentes representam se o paciente tem TB+ ou não. Qual a correta? Todas as variáveis concordam ?

Variáveis que indicam a presença de TB:

| Variável | Valor para TB+ | Valor para TB- |    Ignorados   |    Outros      |
| -------- |:--------------:|:--------------:|:--------------:|:--------------:|





- TB_desfecho_final_Dri            : 1 -> TB+ ; 2 -> TB- ; 9 -> Ignorado
- Tbafranio                        : 0 -> TB- ; 1 -> TB+
- Desfecho_tuberculose_lista_Mauro : 0 -> TB- ; 1 -> TB+ ; 2 -> Paciente não encontrado na lista do Mauro (?)
- Desfecho_TB_162_Revisão_ADRIANA  : 0 -> TB- ; 1 -> TB+ ; 2 -> Paciente não encontrado 
-

### Labels de outras variáveis 

- Asma : 1 = Sim, 2 = Não

In [25]:
print('Informações gerais sobre a base de dados:\n')

# Tamanho da base de dados
print('-> Quantidade de pacientes presentes na base de dados: {}'.format(len(data)))

# Quantidade de pacientes com TB+ e TB-
print('-> Quantidade de pacientes com TB+: {}\n-> Quantidade de pacientes com TB-: {}'.format(1,1))

# Proporcão da base
print('-> Proporção de pacientes TB+ e TB-: {}% de casos TB+ e {}% de casos TB-'.format(1,1))

# Quantidade de features presentes
print('-> Quantidade de atributos presentes: {}\n'.format(len(data.columns)))

Informações gerais sobre a base de dados:

-> Quantidade de pacientes presentes na base de dados: 4381
-> Quantidade de pacientes com TB+: 1
-> Quantidade de pacientes com TB-: 1
-> Proporção de pacientes TB+ e TB-: 1% de casos TB+ e 1% de casos TB-
-> Quantidade de atributos presentes: 283