# Análise dos dados

Este notebook tem como objetivo verificar os exemplos presentes na base de dados e selecionar as features mais relevantes para a predição do desfecho.

### Análise inicial dos dados

In [1]:
# Manipulação dos dados
import numpy  as np
import scipy  as sp
import pandas as pd

# Visualização de dados
import matplotlib.pyplot as plt
import seaborn           as sns
%matplotlib inline

In [2]:
# Carregando os dados
data = pd.read_csv('../Dados/labels.csv',low_memory=False)

In [3]:
# Visualização da tabela
data.head(5)

,TB_desfecho_final_Dri,Tbafranio,Obs_desfechoTB_Dri_Dani,Data_inclusão,Nome,Desfecho_tuberculose_lista_Mauro,Desfecho_TB_162_Revisão_ADRIANA,Observaça0_desfecho_TB,Resultado_BAAR_1,Resultado_BAAR_2,...,Perdeu_aula_hoje_CA,Deixou_de_ganhar_dinheiro_hoje_CA,Quanto_deixou_ganhar_CA,Caso_acompanhado_quem_custeou_tudo_CA,Valor_CA,Avaliador_custo_CA,Data_avaliação_custo_CA,Resultado_cultura_final < 3 & Realizou_RX = 1 (FILTER),ANO de inclusao,Novocriteriotbafranio
0,TB,SIM,NaN,3/abr/08,NaN,9,TB,TB PROBABILIDADE,Negativo,Negativo,...,IGN,IGN,Ignorado,IGN,ignorado,9,9/set/99,Selected,2008,1
1,TB,SIM,NaN,3/out/06,NaN,TB,TB,NaN,Negativo,Negativo,...,IGN,IGN,Ignorado,IGN,ignorado,9,9/set/99,Selected,2006,1
2,TB,SIM,NaN,21/jun/07,NaN,TB,TB,TB CONFIRMADA,Negativo,Negativo,...,IGN,IGN,Ignorado,IGN,ignorado,9,9/set/99,Selected,2007,1
3,TB,SIM,NaN,30/set/09,NaN,TB,TB,NaN,Negativo,Negativo,...,IGN,IGN,Ignorado,IGN,ignorado,9,9/set/99,Selected,2009,1
4,TB,SIM,NaN,19/jun/09,NaN,TB,#NULL!,NaN,Negativo,Negativo,...,Não,Não,"""Não se aplica""",não se aplica,não se aplica,Marcia dos Santos,19/jun/09,Not Selected,2009,1

In [4]:
# Tipos de dados presentes
data.dtypes.value_counts()

object     268
int64       11
float64      2
dtype: int64

In [5]:
# Verificando os dados do tipo float64
print('Features do tipo float64: \n{}'.format(list(data.select_dtypes(include=['float64']).columns)))

# Verificando os dados do tipo int64
print('\nFeatures do tipo int64: \n{}'.format(list(data.select_dtypes(include=['int64']).columns)))

# Verificando os dados do tipo object
print('\nFeatures do tipo int64: \n{}'.format(list(data.select_dtypes(include=['object']).columns)))

Features do tipo float64:
['Nome', 'Número_cultura']

Features do tipo int64:
['Probabilidade_TBP_sem_RX_ou_BAAR', 'Probabilidade_TBP_com_RX_e_BAAR', 'Número_geral', 'Idade', 'Telefone_1', 'Telefone_2', 'CEP', 'Valor_pts_escore', 'Descrever_outros_fármacos', 'ANO  de inclusao', 'Novocriteriotbafranio']

Features do tipo int64:
['TB_desfecho_final_Dri', 'Tbafranio', 'Obs_desfechoTB_Dri_Dani', 'Data_inclusão', 'Desfecho_tuberculose_lista_Mauro', 'Desfecho_TB_162_Revisão_ADRIANA', 'Observaça0_desfecho_TB', 'Resultado_BAAR_1', 'Resultado_BAAR_2', 'Resultado_Cultutra_1', 'Resultado_Cultura_2', 'identificado_tb_ntb', 'Houve_desfecho_consulta_médica__inicial', 'Compareceram_consulta_medica', 'TTO_TB_confirmação_bacteriológica', 'TTO_TB_probabilidade', 'Transferência_internação_não_TB_outra_especialidade', 'TTO_pneumologia_patologia_não_TB', 'Alta', 'Descrever_outra_patologia', 'Asma', 'Em_caso_tto_TB_marcar_opções', 'TTO_anterior_TB_triagem_enfermeiro', 'Fator_risco_TBP_MDR', 'Médico_avaliador', 'Data_avaliação_médica', 'Cavitação_alta_média_probabilidade', 'RX_Padrão_TÍPICO_alta_média_probabilidade', 'RX_padrão_COMPATIVEL_alta_média_probabilidade', 'RX_Padrão_ATÍPICO_alta_média_probabilidade', 'RX_baixa_probabilidade_TB_INATIVA_SEQUELA', 'RX_baixa_probabilidade_TB_OUTRA_DOENÇA2', 'RX_baixa_probabilidade_NORMAL', 'Data_RX', 'Tto_TB_prescrito', 'Data_início_TTO', 'Rifampicina_TTO_TB', 'Isoniazida_TTO_TB', 'Pirazinamida_TTO_TB', 'Etambutol_TTO_TB', 'Data_coleta_escarro_1', 'Espécime_1', 'Data_coleta_escarro_2', 'Espécime_2', 'Número_cruzes_BAAR_1', 'Número_cruzes_BAAR_2', 'Resultado_BAAR_Final', 'Número_Cruzes_Cultura_1', 'Número_cruzes_Cultura_2', 'VAR00003', 'Escore_Cat', 'Probabilidade_médica_TB_ativa', 'Probabilidade_TBP_com_RX', 'Probabilidade_TBP_comRX_e_sem_BAAR', 'Probabilidade_TBP_com_RX_sem_BAAR_percent', 'Probabilidade_TBP_com_2_BAAR_negativos', 'Resultado_cultura_final', 'Realizou_RX', 'Karen_amostra', 'Prontuário_PAAP', 'TSA', 'Óbito', 'Causa_óbito', 'Número_laboratório', 'Detect_TB_Primeira_amostra', 'Número_cultura_segunda_amostra', 'Detect_TB_Segunda_amostra', 'Biometrix_inserido_tabela_por_nomes', 'Resultado_biometrix_CTMtb', 'Resultados_biometrix_CTinterno', 'Resultado_biometrix_bula', 'N°_TB', 'Cicatriz_BCG', 'Data_TB_passado', 'Desfecho_TB', 'Tto_anterior_TB_avaliação_médica', 'Tto_anterior_TB_INH', 'Tto_anterior_TB_RIF', 'Esquema_utilizado_tto_anterior', 'Quimio_prévia', 'Quimio_INH', 'Quimio_RIF', 'Data_quimio', 'Desfecho_quimio', 'HIV', 'Comorbidades', 'Nome_mãe', 'Endereço2', 'Bairro_Residência', 'Cidade_residência', 'Data_nascimento', 'Naturalidade_cidade', 'Naturalidade_estado2', 'Mora_no_Rio_há_quantos_anos', 'Sexo', 'Raça', 'Raça_2', 'Estado_civil', 'Tem_companheiro', 'Peso_habitual', 'Peso_atual', 'Altura_cm', 'Tosse', 'Semanas_tosse', 'Expectoração', 'Semanas_expectoração', 'Hemoptóicos', 'Semanas_hemoptóicos', 'Hemoptise', 'Semanas_hemoptise', 'Quantidade_hemoptise', 'Sudorese_noturna', 'Semanas_sudorese', 'Febre', 'Semanas_febre', 'Dispnéia', 'Dispnéia_semanas', 'Perda_de_apetite', 'Perda_apetite_semanas', 'Perda_peso_10percent', 'Perda_peso_semanas', 'Dor_torácica', 'Dor_torácica_semanas', 'Total_escore_Paulo', 'Internação_hospital_2anos', 'Prisão_2anos', 'Delegacia_2anos', 'Contato_TBP_2anos', 'TBP_Morava_com_vc', 'TBP_trabalhava_com_vc', 'TBP_amigo_parente_não_morava_com_vc', 'Contato_TBP_menor_3anos', 'Contato_TBP_Casa', 'Contato_TBP_Trabalho', 'Contato_TBP_Social', 'Fuma', 'Número_cigarros_dia', 'Número_anos', 'Cerveja', 'Vinho', 'Whisky', 'Cachaça', 'Outras_bebidas_alcoólicas', 'Nenhuma_bebida_alcoólica', 'CAGE', 'Desfecho_enfermeiro', 'Descrever_outros_defechos', 'Incluído_TB_Adapt', 'Critério_1_TB_Adapt_tosse_por_mais_2_semanas', 'Critério_2_TB_Adapt_assinou_TCLE', 'Data_assinatura_TCLE', 'Aplicou_PPD', 'Data_aplicação__PT', 'Leu_PT', 'Data_leitura_PT', 'Resultado_PPT_mm', 'Leitor_PT', 'Enfemeiro_avaliação', 'Data_avaliação', 'Data_HIV', 'IRC', 'Hepatopatia', 'Etilismo', 'Uso_corticoide', 'Neo_maligna', 'Transplante', 'DM_NID', 'DM_ID', 'Silicose', 'DPOC', 'Doença_pumonar_difusa', 'Outras', 'descrever_outras_comorbidades2', 'Critério_de_entrada_perfil_bacteriologico_Fup', 'Etionamida_TTO_TB', 'Estreptomicina_TTO_TB', 'Ofolxacino_TTO_TB', 'Outros_fármacos', 'Reação_Adversa_Fármacos_TTO_TB', 'Reação_adversa_maior', 'Exantema', 'Confusão_mental', 'Icterícia', 'Hepatotoxicidade', 'Vertigem', 'Hipoacusia', 'Crise_convulsiva', 'Encefalopatia', 'Psicose', 'Neurite_óptica', 'Plaquetopenia_leucopenia_eosinofilia', 'Anemia_hemolítica_vasculite', 'Choque_púrpura', 'Nefrite', 'Insuficiência_renal_rabdomiólise', 'Reação_adversa_menor', 'Prurido', 'Anorexia', 'Náuseas_vômitos', 'Dor_abdominal', 'Dor_articular', 'Neurite_periférica', 'Euforia', 'Insônia_sonolência', 'Ansiedade', 'Cefaléia', 'Acne', 'Hiperuricemia', 'Febre_AD', 'Hipotensão_ortostática', 'Ginecomastia', 'Mudança_esquema_tto_TB', 'Data_mudança', 'Rifampicina_mudança_tto', 'Pirazinamida_mudança_tto', 'Isoniazida_mudança_tto', 'Etambutol_mudança_tto', 'Etionamida_mudança_tto', 'Estreptomicina_mudança_tto', 'Ofloxacino_mudança_tto', 'Outros_farmacos_mudança_tto2', 'Descrever_outros_farmacos_mudança_tto2', 'Motivo_mudança', 'Descrever_outro_motivo_mudança', 'Tosse_diminuída', 'Peso_atual_Fup', 'Probabilidade_TB_com_RX_Fup', 'Cavitação__RX_Fup_Alta_média', 'Padrão_RX_TIPICO_Fup_Alta_média', 'Padrão_RX_COMPATIVEL_Fup_Alta_Média', 'Padrão_RX_ATIPICO_Fup_Alta_Media', 'Padrão_RX_Fup_Baixa', 'Data_RX_Fup', 'Fup_RX', 'HIV_teste_Fup', 'Data_anti_HIV', 'Diagnóstico_90_dias', 'Outro_diagnóstico_Fup', 'Descrever_outro_diagnóstico', 'Médico_avaliador_Fup', 'Data_Fup', 'Onde_vc_mora_CA', 'Transporte_CA', 'Custo_transporte_reais_CA', 'Acompanhado_CA', 'Número_pessoas_CA', 'Horas_saiu_de_casa_CA', 'Horas_Chegou_posto_CA', 'Horas_viu_profissional_CA', 'Tempo_até_o_posto_minutos_CA', 'Caso_FORA_DO_RJ_retorno_onde_pernoitar_CA', 'Pagará_pernoite', 'Valor_pernoite_CA', 'Trouxe_algo_amigos_CA', 'Valor_algo_CA', 'Comeu_bebeu_CA', 'Valor_comida_bebida_CA', 'Pagou_algo_no_posto_CA', 'Valor_algo_posto_CA', 'Profissão_CA', 'Perdeu_aula_hoje_CA', 'Deixou_de_ganhar_dinheiro_hoje_CA', 'Quanto_deixou_ganhar_CA', 'Caso_acompanhado_quem_custeou_tudo_CA', 'Valor_CA', 'Avaliador_custo_CA', 'Data_avaliação_custo_CA', 'Resultado_cultura_final < 3 & Realizou_RX = 1  (FILTER)']

### Seleção de features: primeiro filtro

A primeira avaliação de features tem como objetivo eliminar variáveis que não possuem informação sobre a predição da doença. Tais variáveis a serem eliminadas são: informações pessoais do paciente, datas de exames, profissional avaliador, entre outras informações que não são relevantes.

#### Features do tipo float64

As features Nome e Número_cultura não apresentam informações relevantes para a predição dos desfechos, pois representam o nome do paciente e o número de identificação utilizado para catálogo do teste de cultura.

In [6]:
# Removendo os atributos irrelevantes do tipo float64
data.drop(['Nome', 'Número_cultura'],axis=1,inplace=True)

#### Features do tipo int64

As features Número_geral, Telefone_1, Telefone_2, CEP e ANO  de inclusao não possuem informações relevantes. A feature Novocriteriotbafranio representa um desfecho que não é considerado no estudo.

In [7]:
# Removendo os atributos irrelevantes
data.drop(['Número_geral', 'Telefone_1', 'Telefone_2', 'CEP', 'ANO  de inclusao', 'Valor_pts_escore'],axis=1,inplace=True)

# Novocriteriotbafranio: desfecho não considerado no estudo
data.drop(['Novocriteriotbafranio'],axis=1,inplace=True)

#### Features do tipo Object

As features a serem desconsideradas seguem o mesmo critério de seleção descrito anteriormente.

In [8]:
# Desfechos desconsiderados no estudo.
data.drop(['Tbafranio', 'Obs_desfechoTB_Dri_Dani', 'Data_inclusão', 
           'Desfecho_tuberculose_lista_Mauro', 'Desfecho_TB_162_Revisão_ADRIANA', 
           'Observaça0_desfecho_TB'],axis=1,inplace=True)

In [9]:
# Atributos com informações descorrelacionadas com o desfecho
data.drop(['Escore_Cat','VAR00003','Data_início_TTO','Data_coleta_escarro_1','Data_RX','Médico_avaliador', 'Data_avaliação_médica',
           'Médico_avaliador_Fup', 'Data_Fup', 'Onde_vc_mora_CA', 'Transporte_CA', 'Custo_transporte_reais_CA', 
           'Acompanhado_CA', 'Número_pessoas_CA', 'Horas_saiu_de_casa_CA', 'Horas_Chegou_posto_CA', 'Horas_viu_profissional_CA', 
           'Tempo_até_o_posto_minutos_CA', 'Caso_FORA_DO_RJ_retorno_onde_pernoitar_CA', 'Pagará_pernoite', 'Valor_pernoite_CA', 
           'Trouxe_algo_amigos_CA', 'Valor_algo_CA', 'Comeu_bebeu_CA', 'Valor_comida_bebida_CA', 'Pagou_algo_no_posto_CA', 'Valor_algo_posto_CA', 
           'Profissão_CA', 'Perdeu_aula_hoje_CA', 'Deixou_de_ganhar_dinheiro_hoje_CA', 'Quanto_deixou_ganhar_CA', 'Caso_acompanhado_quem_custeou_tudo_CA', 
           'Valor_CA', 'Avaliador_custo_CA', 'Data_avaliação_custo_CA', 'Resultado_cultura_final < 3 & Realizou_RX = 1  (FILTER)','Data_coleta_escarro_2',
           'Karen_amostra','Prontuário_PAAP', 'Óbito', 'Causa_óbito', 'Número_laboratório', 'Número_cultura_segunda_amostra', 'Biometrix_inserido_tabela_por_nomes', 
           'Resultado_biometrix_CTMtb','N°_TB', 'Data_TB_passado', 'Data_quimio', 'Nome_mãe', 'Endereço2','Bairro_Residência', 'Cidade_residência', 'Data_nascimento', 
           'Naturalidade_cidade', 'Naturalidade_estado2', 'Mora_no_Rio_há_quantos_anos', 'Total_escore_Paulo', 'Número_anos', 'Data_assinatura_TCLE', 
           'Data_aplicação__PT', 'Data_leitura_PT', 'Leitor_PT', 'Enfemeiro_avaliação', 'Data_avaliação', 'Data_HIV', 'Data_mudança', 'Motivo_mudança', 
           'Descrever_outro_motivo_mudança','Data_RX_Fup', 'Data_anti_HIV'],axis=1,inplace=True)

In [10]:
# Após a primeira avaliação das features
data.shape

(4381, 196)

Após análise inicial, foram eliminadas 84 variáveis.

### Seleção de features: segundo filtro

Utilização de tabelas de contingência e teste do chi-quadrado para verificação de independência entre as variáveis e o desfecho

In [13]:
from scipy.stats import chi2_contingency

In [21]:
type(pd.crosstab(data['Asma'],data['TB_desfecho_final_Dri'],margins=True))

pandas.core.frame.DataFrame

In [22]:
pd.crosstab(data['Asma'],data['TB_desfecho_final_Dri'],margins=True)

TB_desfecho_final_Dri   8   IGN  Não TB   TB   All
Asma
#NULL!                 21  1633    1531  841  4026
Não                     0     0     234   24   258
Sim                     0     0      91    6    97
All                    21  1633    1856  871  4381

In [16]:
chi2, p, dof, expected = chi2_contingency(pd.crosstab(data['Asma'],data['TB_desfecho_final_Dri'],margins=True))

In [17]:
chi2

392.32538164128806

In [18]:
p

1.5947077731663055e-76

In [20]:
with open('teste.txt','w') as file:
    file.write(pd.crosstab(data['Asma'],data['TB_desfecho_final_Dri'],margins=True))

TypeError: write() argument must be str, not DataFrame

In [21]:
# Separação entre atributos e desfecho
desfecho = data['TB_desfecho_final_Dri']
data.drop(['TB_desfecho_final_Dri'],axis=1,inplace=True)