# Teste de modelos

Sem tratamento de dados correto, apenas para termos como base os scores.

In [1]:
# Módulos para análise dos dados
import numpy  as np
import pandas as pd

# Visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Importação dos dados da base de triagem de pacientes com tuberculose
data = pd.read_excel('../dados/Banco de Dados.xlsx')

# Verificação inicial dos dados

In [24]:
# Visualização dos dados
data.head(5)

,ID,TB_desfecho_final_Dri,Tbafranio,Obs_desfechoTB_Dri_Dani,Data_inclusão,Nome,Desfecho_tuberculose_lista_Mauro,Desfecho_TB_162_Revisão_ADRIANA,Observaça0_desfecho_TB,Resultado_BAAR_1,...,Perdeu_aula_hoje_CA,Deixou_de_ganhar_dinheiro_hoje_CA,Quanto_deixou_ganhar_CA,Caso_acompanhado_quem_custeou_tudo_CA,Valor_CA,Avaliador_custo_CA,Data_avaliação_custo_CA,filter_$,ANOinclusao,Novocriteriotbafranio
0,1,1,1,NaN,2008-04-03,NaN,9,1.0,TB PROBABILIDADE,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2008,1
1,2,1,1,NaN,2006-10-03,NaN,1,1.0,NaN,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2006,1
2,3,1,1,NaN,2007-06-21,NaN,1,1.0,TB CONFIRMADA,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2007,1
3,4,1,1,NaN,2009-09-30,NaN,1,1.0,NaN,0,...,9,9,999,9,999.0,9,1999-09-09,1.0,2009,1
4,5,1,1,NaN,2009-06-19,NaN,1,NaN,NaN,0,...,0,0,888,8,888.0,Marcia dos Santos,2009-06-19,0.0,2009,1

In [3]:
# Escolha das variáveis escolhidas pelos especialistas